#Wed, 15 May 2013 08:38:57 +0200
app.name=InteractiveSport

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=b3182f1c-a86e-4b3b-9f50-d146c4529921
